body{
    margin: 0;
    padding: 0;
    background-image: url(../images/4k-wallpaper-calm-waters-dark-1252869.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.wrapper{
    width: 500px;
    margin: 75vh auto;
    color: white;
}

ul, h1, li, a{
    padding: 0;
    margin: 0;
}

h1{
    font-size: 40px;
}

nav{
    margin-top: 20px;
    width: 300px;
    margin: auto;
}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav li{
    margin: 10px 5px;
    width: 105px;
    border: 3px white solid;
    padding: 5px 10px;
    transition: all, .51s;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 100px;
    text-align: center;
}

nav li:hover{
    border-radius: 15px;
    transition: all, .51s;
}

@media (max-width: 500px) {
    .wrapper{
        width: 300px;
        overflow: hidden;
        margin: 60vh auto;

    }
}